services:
  - type: web
    name: together-backend
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: MONGO_URI
        scope: project
      - key: JWT_SECRET
        scope: project
      - key: CLIENT_URL
        scope: project
      - key: STRIPE_SECRET
        scope: project
      - key: STRIPE_WEBHOOK_SECRET
        scope: project
